@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #18181b;
  --text-color: white;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.main {
  background-image: radial-gradient(#777 1px, var(--bg-color) 1px);
  background-size: 120px 128px;
}
